/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --header-colour: #ff6900;
    --discount-colour: #ff0000;
    --sustainable-colour: #008000;
    --footer-colour: #1a1a1a;
}

ul.unstyled {
    list-style: none;
    display: flex;

    a {
        text-decoration: none;
        color: white;
        font-size: small;
    }
}

li {
    padding: .5rem;
}

.hover:hover {
    cursor: pointer;
    display: none;
}

.hover {
    position: absolute;
    top: 0px;
    left: 20%;
}

.box {
    width: calc((100% / 3) - 5rem);
    height: 500px;
    margin: 1.5rem .6rem 3.5rem .6rem;
   
}

.over {
    z-index: 1;
}

/* #endregion common */

/* #region header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: var(--header-colour);
    flex-wrap: wrap;
    padding: 1rem;
}

nav>div {
    width: 20%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.nav {
    width: 20%;
    justify-content: flex-end;
}

#logo {
    width: 15%;
}

/* #endregion header */

/* #region main */
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.inside-box{
    height: 100%;
    width: 100%;
    position: absolute;
}


.inside-box div:nth-child(2){
    position: absolute;
    top: 100%;
    width: max-content;
}

.discount, .sustainable {
    color: white;
}

.discount {

    background-color: var(--discount-colour);
}

.sustainable {
    background-color: var(--sustainable-colour);
}

.tags{
    position: relative;
    top: 90%;
    left: 0%;
}

div.images div.box:nth-child(1){
    background-image: url(../assets/img/1.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(1):hover{
    background-image: url(../assets/img/1b.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(2){
    background-image: url(../assets/img/2.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(2):hover{
    background-image: url(../assets/img/2b.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(3){
    background-image: url(../assets/img/3.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(3):hover{
    background-image: url(../assets/img/3b.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(4){
    background-image: url(../assets/img/4.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(4):hover{
    background-image: url(../assets/img/4b.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(5){
    background-image: url(../assets/img/5.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(5):hover{
    background-image: url(../assets/img/5b.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(6){
    background-image: url(../assets/img/6.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

div.images div.box:nth-child(6):hover{
    background-image: url(../assets/img/6b.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_heart{
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 2%;
    right: 0;
}

.bg_heart:hover{
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 2%;
    right: 0;
    color: red;
}
/* #endregion main */

/* #region footer */
footer {
    background-color: var(--footer-colour);
}

/* #endregion footer */