/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --header-colour: #ff6900;
    --discount-colour: #ff0000;
    --sustainable-colour: #008000;
    --footer-colour: #1a1a1a;
}

ul.unstyled {
    list-style: none;
    display: flex;

    a {
        text-decoration: none;
        color: white;
        font-size: small;
    }
}

li {
    padding: .5rem;
}

.hover:hover {
    cursor: pointer;
    display: none;
}

.hover {
    position: absolute;
    top: 0px;
    left: 20%;
}

.box {
    position: relative;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion common */

/* #region header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: var(--header-colour);
    flex-wrap: wrap;
    padding: 1rem;
}

nav>div {
    width: 20%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.nav {
    width: 20%;
    justify-content: flex-end;
}

.utilities>img {
    padding: .25rem;
}

#logo {
    width: 15%;
}

/* #endregion header */

/* #region main */
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box>img {
    width: 60%;
}

.box>div {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: -25px;
}

/* #endregion main */

/* #region footer */

/* #endregion footer */